a{
    text-decoration: none;
}

.navbar-nav{
    margin-left: auto;
}

.logo{
    width: 600px;
}

.btn-survey, .btn-detail{
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.btn-survey{
    background-color: rgb(53, 86, 175);
}

.btn-detail{
    background-color: rgb(139, 32, 32);
}

.btn-survey:hover, .btn-detail:hover{
    color: white;
}

.content h3, p{
    margin-bottom: 20px;
}

.content div{
    margin-top: 30px;
}

/*
.btn-custom{
    background-color: rgba(0,120,190,0.8);
    border-radius: 10px;
    padding: 0 10px;
    padding-top: 2px;
    padding-bottom: 7px;
    color: white;
}

.btn-custom:hover{
    background-color: white;
    color: rgba(0,120,190,0.8);
}
*/

.navigation{
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    padding-bottom: 10px;
}
